{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <label>Ім'я</label>
        <input type="text" name="first_name">
    </div>
    <div>
        <label>Прізвище</label>
        <input type="text" name="last_name" id="">
    </div>
    <div>
        <label for="">Біографія</label>
        <input type="text" name="bio">
    </div>
    <div>
        <label for="">Вік</label>
        <input type="number" name="age" id="">
    </div>
    <button type="submit">Додати</button>
</form>
{% endblock content %}