<nav>
    <ul>
        <li>
            <a href="{% url 'index' %}">Список авторів</a>
        </li>
        <li>
            <a href="{% url 'add_author' %}">Додати автора</a>
        </li>
        <li>
            <a href="{% url 'add_article' %}">Додати статтю</a>
        </li>
        <li>
            <a href="{% url 'add_article_form' %}">Додати статтю (form)</a>
        </li>
        <li>
            <a href="{% url 'get_articles' %}">Статті</a>
        </li>
        <li>
            <a href="{% url 'sign_up' %}">Реєстрація</a>
        </li>
        <li>
            <a href="{% url 'login' %}">Вхід</a>
        </li>
    </ul>
</nav>