{% extends "_base.html" %}

{% block content %}
    {% if positions %}
        <table>
            {% for position in positions %}
                <tr>
                    <td>
                        <a href="{{ url_for('positions.get_position', id=position.id) }}">{{ position }}</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <h1>Відсутні посади</h1>
    {% endif %}

    <form action="{{ url_for('positions.add_position') }}" method="post">
        <p>
            <label for="name">Назва посади</label>
            <input type="text" name="name">
        </p>
        <p><button type="submit">Додати нову посаду</button></p>
    </form>
{% endblock content %}