h1 {
  color: blue;
  background-color: lightgray;
  font-size: 24px;
}

p {
  color: rgb(247, 9, 172);
}

.bd-example-row {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background: linear-gradient(#70197a,#651274);
  border: 1px solid rgb(211, 156, 201);
  color: white;
}

.bd-example-row2 {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background: linear-gradient(#1c7a19,#1dc10e);
  border: 1px solid rgb(0, 0, 0);
  color: white;
}
