{% extends "base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>№</td>
            <td>Автор</td>
            <td>Відгук</td>
            <td>Оцінка</td>
        </tr>
    </thead>
    <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ review.author }}</td>
                <td>{{ review.text }}</td>
                <td>{{ review.grade.grade }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}