<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h2>Get form</h2>
    <form action="/register/" method="post">
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control", placeholder="Електронна пошта") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Пароль") }}
        </div>
        <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label }}
        </div>
        {{ form.submit(class="btn-primary") }}
    </form>
</body>
</html>