<!DOCTYPE html>
<html>
    <head>
        <title>Піцерія Oderman</title>
        <link rel="stylesheet" type="text/css" href="/static/start.css">
    </head>
    <body>
        <h1>Ласкаво просимо на головну сторінку піцерії Oderman!</h1>
        <img src= "/static/image.jpg" width= "250" height= "250">
        <br/>
        <a href="https://www.example.com">Відкрити меню</a>

        <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
        </table>

    </body>
</html>