<!DOCTYPE html>
<html>
    <head>
        <title>Моя перша HTML-сторінка</title>
        <link rel="stylesheet" type="text/css" href="/static/start.css">
    </head>
    <body>
        <h1>Ласкаво просимо на мою сторінку!</h1>
        <p>Це приклад використання HTML для створення веб-сторінки.</p>
        <img src= "/static/image.jpg" width= "250" height= "250">
        <a href="https://www.example.com">Перейти на прикладний сайт</a>

        <div class="bd-example-row">
            <div class="bd-example">
                <div class="row">
                    <div class="col">column 1</div>
                    <div class="col">column 2</div>
                </div>
            </div>
        </div>

    </body>
</html>


