h1 {
border: 2px #eee solid;
color: brown;
text-align: center;
padding: 10px;
}

body{
   background: Linen;
   margin-top: 50px;
   margin-left: 100px;
}

p{
font-family: Georgia, Serif;
font-size: 1.2em;
color: DarkSlateGray;
}
