<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <title>Дізнайся про свою погоду</title>
</head>
<body>
    <form action="{{ url_for('get_temp') }}" method="post">
        <div class="form-group">
            <label class="form-label">Введіть назву міста</label>
            <input type="text" name="city" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Дізнатись погоду</button>
    </form>
    {% if weather %}
        <h1>Назва міста: {{ weather.city }}</h1>
        <h2>Температура повітря: {{ weather.temp }}</h2>
        <h3>Швидкість вітру: {{ weather.speed }} м/с</h3>
        <img src="" alt="">
    {% endif %}
</body>
</html>