{% extends "base.html" %}

{% block title %}{{ school_name }}{% endblock title %}

{% block content %}
<h1>School city: <em>{{ city }}</em></h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Name</th>
                <th>City</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}
                        {% if forloop.first %}
                            First
                        {% elif forloop.last %}
                            Last
                        {% endif %}
                    </td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.city }}</td>
                    <td>{{ student.age }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}